.header-initial-cont{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    padding: 10px 0px;
    padding-top: 2vw;
    box-shadow: 0px 1px 10px 0px grey;
    max-width: 100vw;
}


.header-main-cont{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

}

.header-logo-cont{
    display: flex;
    align-items: center;
}

.header-logo{
    width: 6vw;
}

.header-logo-name-cont{
    display: flex;
    flex-direction: row;
    margin-left: 8px;

    background-color: transparent;
}

.header-logo-name{
    color:#050806;
    font-size: 1.6vw;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

.header-logo-name-brand{
    align-self: center;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    font-size: 0.5vw;

}

.header-right-cont{
    width:55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right-cont-head{
    color:#101211;
    font-size: 1.6vw;
    font-weight: 400;
}

.header-right-cont-button{
    border: none;
    border-radius: 14px;
    background-color: #0744a6;
    padding: 0.8vw 1.6vw;
    color: white;
    font-size: 1vw;
    font-weight: 600;
    box-shadow: 0px 1px 10px 0px grey;
}

.header-right-cont-menu{
    color:#050806;
    font-size: 2.4vw;
}
