
.app-initial-cont{
  display: flex;
  flex-direction: column;

}

.book-appointment-cont{
  background-size: cover;
  height: 70vh;


}

.book-appointment-cont::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0.5; 
  z-index: -1;
}

*{
  box-sizing: border-box;
  font-family: "Arial", "Helvetica", "Sans-serif";

}