

.app-initial-cont{
  display: flex;
  flex-direction: column;

}

.books-app-css-style{
  height: 85vh;
}

.book-app-main-cont{
  padding: 20px;
}

.book-appointment-cont{
  background-size: cover;

  max-width: 100vw;
height: 85vh;
opacity: 1;
}

.book-appointment-main-heading{
  color: #050806;
  font-size: 32px;
  font-weight: 500;
width: 40vw;
line-height: 1.3;

}

.book-app-span-one{
  font-weight: 600;
  font-style: italic;
}

.book-app-span-two{
  text-decoration: underline;
}

.book-app-button{
  background-color: #0744a6;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.book-app-button-arrow{
  color: white;

  height:30px;
  font-size: 30px;
  font-weight: 1000;
  margin: 0px;
  padding: 0px;
  margin-left: 8px;
}

.forward-arrow-book-app{
  height: 50px;
  font-size: 50px;
  font-weight: bold;
  order: 1;

}

.book-appointment-top-cont{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin:6vw;
}

.book-app-bottom-cont{
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.copy-right-one{
  font-size: 10px;
}

.copy-right-content{
  font-size: 10px;

  font-weight: 500;
}

.spacio-tech-initial-cont{
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacio-tech-main-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
}

.spcaio-tech-left-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  width: 40vw;
  background-color: transparent;
}

.spacio-tech-main-heading{
  border-left: solid 3px red;
  padding-left: 16px;
  font-size:40px;
  color:#070708;
  margin-top: 0px;
  font-weight: 500;
}

.spacio-tech-button-cont{
  display: flex;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  align-self: flex-start;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
}

.spacio-tech-button-content{
  font-size: 20px;
  font-weight: 600;
  color: #070708;
  margin: 0px;
}


.spacio-tech-arrow{
  height: 50px;
  font-size: 50px;
  margin-left: 10px;
}

.content-of-spacio-tech{
  font-size: 18px;
  font-weight: 500;
  color: #0e0f0e;

}

.more-specify-spacio-tech{
  font-weight: 600;
  margin-top: 50px;
}

.content-of-spacio-tech-cont{
  width: 38vw;
}

.spacio-tech-copy-one{
  margin-top: auto;
  margin-bottom: 16px;
}

.facade-initial-cont{
  background-image:url("//img.freepik.com/free-vector/shiny-red-frame-background_1189-317.jpg?t=st=1733456549~exp=1733460149~hmac=66053170b1f7391080a8fbf03caf909be897b6b45f002cb8e76e4864feea48c3&w=740");
  background-size: cover;
  background-position: center;
  height: 700px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.facade-main-cont{
  width: 90vw;
  display: flex;
  flex-direction: column;


}

.facade-arrows-container{
  display: flex;
  justify-content: space-between;
}

.facade-arrow{
  color: white;
  height: 50px;
  font-size: 50px;
}

.facade-heading{
  color: white;
  font-size: 50px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  align-self: center;
  margin-top: 9vw;
  margin-bottom: 6vw;
}

.facade-copy-right{
  color:white
}

.facade-copy{
  color: white;
}

.map-initital-cont{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-image: linear-gradient(to top, #dedede,#fcfeff);
}
.map-main-cont{
  display: flex;
  margin: 20px;
}

.map-content-cont{
  display: flex;
  flex-direction: column;
}

.map-main-head{
  
  border-left: solid 3px red;
  padding-left: 16px;
  font-size:4vw;
  color:#070708;
  margin-top: 0px;
  font-weight: 500;
}

.map-main-para{
  font-size: 2vw;
  color:#0e0f0e;
  font-weight: 500;
}

.map-button-main-cont{
  display: flex;
  align-items: center;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2vw;
  margin-top: 4vw;
}

.map-button-sub-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
}

.map-button-main-head{
  font-size: 4vw;
  font-weight: 500;
  color:#050806;
  margin-bottom: 0px;
  margin-top: 0px;

}

.map-button-hiper-sub-cont{
  display: flex;
  align-items: center;
}

.map-button-content{
  color:#0e0f0e;
  font-size: 1vw;
  font-weight: 500;
  text-align: center;
}

.map-button-arrow{
  height: 3vw;
  font-size: 3vw;
}

.map-image{
  width: 50vw;
  margin-left: -2vw;
}

.city-names-map{
    font-size: 2vw;

}

.map-list-cont{
  margin-top: 0px;
}

.work-initital-cont{
  padding: 5vw;
  display: flex;
  padding-right:0px;
  flex-direction: column;
}

.work-cont-one{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-cont-one-right-cont{
  display: flex;
  align-items: center;
  margin-right:2vw;
  margin-bottom: 20px;
}


.work-cont-one-right-cont-para{
  font-size: 20px;
  font-weight: 500;
  color: #0e0f0e;

}

.work-cont-one-right-cont-arrow{
  color:#050806;
  font-size: 30px;
  height: 30px;
  margin-top: 0px;
  
}

.work-image-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2vw;
}

.work-image-cont-one{
  min-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  height: 600px;
  background-size: cover;
}

.work-image-cont-two{
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  align-items: flex-end;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 600px;
  margin-top: 10px;
  
}

.work-image-cont-arrow{
  background-color: #fcfeff;
  color:#050806;
  height:60px;
  width: 60px;
  font-size: 10px;
  padding: 8px;

  border-radius: 50px;
  margin: 20px;
}

.work-location-cont{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-right:2vw;
}

.work-location-left-cont{
  display: flex;
  align-items:center;
}



.work-locaiont-content{
  font-size: 16px;
  font-weight: 500;
  color:#0e0f0e;
}

.work-location-left-arrow{
  height:30px;
  font-size: 20px;
  margin-left:10px;
  color:#050806;
}


.insights-initial-cont{
  display: flex;
  flex-direction: column;
  padding:4vw;
}

.insights-main-cont{
  display: flex;
  align-items: center;
  margin-top: 3vw;
}

.insigths-arrow{
  height:5vw;
  font-size: 5vw;
}

.insights-sub-cont{
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
}

.insights-in-cont{
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  height:23vw;
  border-radius: 1vw;
  width: 23vw;
  padding:2vw;
}

.insights-in-one{
  border: 0.4vw solid #050806;
  height:5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width:5vw;
  font-size: 3vw;
  font-weight: 600;
}

.insights-content{
  font-size: 1.6vw;
  font-weight: 500;
  color: #050806;
  margin-top: 3vw;
}

.insights-date{
  font-size: 1vw;
  font-weight: 500;
  color: #0e0f0e;
  align-self: flex-end;
  margin-right: 3vw;
}

.insights-copy-cont{
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.touch-additional-header{
  color:white;
}

.mx{
  color:white;
}

.touch-initial-cont{
  background-image:url("//img.freepik.com/free-vector/shiny-red-frame-background_1189-317.jpg?t=st=1733456549~exp=1733460149~hmac=66053170b1f7391080a8fbf03caf909be897b6b45f002cb8e76e4864feea48c3&w=740");
  padding:2vw;

}

.touch-main-cont{
  display: flex;
  flex-direction: column;
}

.touch-header-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.touch-header-right-cont{
  display: flex;
  color: white;
  font-size: 1.4vw;
align-items: center;
}

.touch-header-para{
  margin-right: 2vw;
}

.touch-menu{
  color:white;
  height: 4vw;
}

.touch-main-head{
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0px;
  color: white;
}

.touch-main-para{
    color: white;
    font-size: 14px;
    margin-bottom: 0px;
}

.click-here-style{
  font-style: italic;
  text-decoration: underline;
  font-weight: 600;
}

.touch-main-margin{
  margin-top: 3vw;
}

.touch-side-cont{
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-self: flex-end;
}

.touch-side-head{
  color:white;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 0px;
}

.touch-side-para{
  color:white;
  font-size: 12px;
  font-weight: 500;
}

.touch-bottom-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.touch-bottom-left-cont{
  display: flex;
  align-items: center;
}

.touch-bottom-left-head{
  font-size: 20px;
  color:white;
  font-weight: 600;
  margin-right: 10px;
}

.touch-bottom-logo{
  color:white; 
  margin-right:10px;
  font-size: 20px;
}

.touch-bottom-right-cont{
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.touch-bottom-right-input{
  border: 2px solid white;
  border-radius: 8px;
  padding:8px 32px;
  background-color: transparent;
  color:white;
  margin-right: 30px;
  width: 25vw;
}

.touch-bottom-right-button{
  background-color: white;

  color:#050806;
  font-size: 12px;
  border: none;
  border-radius: 20px;
  padding:8px 16px;
  display: flex;
  align-items: center;
  color:#050806;
  font-weight: 600;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.touch-bottom-arrow{
  color:#050806;
  height: 30px;
  font-size: 30px;
}

.touch-copy{
  color:white;
}

.final-initial-cont{
  background-color: #08080a;
  display: flex;
  align-items: center;
  padding:3vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

.final-first-cont{
  display: flex;
  flex-direction: column;
}

.final-middle-cont{
  display: flex;
  flex-direction: column;
}

.final-middle-head{
  color:white;
  font-size: 20px;
  font-weight: 500;
}

.final-last-cont{
  display: flex;
  align-items: center;
}

.final-last-content{
  color:white;
  font-size: 24px;
  font-weight: 600;
}

.final-last-img{
  font-size: 25px;
  color:white;
  margin-left: 10px;
}

.final-middle-para{
  color:#59595c;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-left: 1px;
}


.final-logo-cont{
  width:55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.final-logo{
  width: 60px;
}

.final-logo-name-cont{
  display: flex;
  flex-direction: row;
  margin-left: 8px;

  background-color: transparent;
}

.final-logo-name{
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.final-logo-name-brand{
  align-self: center;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 5px;

}

.terms-cont{
  background-color: #000003;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:4px 8px;
}

.terms-one{
  color:white;
  font-size: 10px;
  font-weight: 600;
}

.terms-two{
  color:white;
  font-size: 10px;
  font-weight: 600;
  background-color: #08080a;
  border-radius: 10px;
}

@media screen and (min-width:1100px) {
  .work-image-cont-one{
    min-width: 60vw;
  }

  .work-image-cont-two{
    min-width: 33vw;
    margin-top: 0px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .forward-arrow-book-app{
    order: 0;
  }

  .book-appointment-top-cont{
    justify-content: flex-start;
    margin: 0px;
  }

  .book-appointment-main-heading{
    width: 87vw;

  }

  .books-app-css-style{
    min-height: 60vh;
  }

  .forward-arrow-book-app{
    height: 30px;
  }

  .book-app-bottom-cont{
    margin-top: 60px;
  }

  


}


@media screen and (max-width:1060px) {
  .spacio-tech-main-cont{
    flex-direction: column;
    margin-top: 8vw;
  }

  .spcaio-tech-left-cont{
    height: 40vw;
    width: 50vw;
  }

  .content-of-spacio-tech-cont{
    width: 60vw;
    margin-top: 40px;
  }
}

@media screen and (max-width:700px) {
  .spcaio-tech-left-cont{
    height: 50vw;
    width: 70vw;
  }
  .content-of-spacio-tech-cont{
    width: 80vw;
    margin-top: 40px;
  }

  .touch-bottom-cont{
    flex-direction: column;
align-items: flex-start;
margin-left: 20vw;
  }

  .touch-side-cont{
    width: 50vw;
  }

  .touch-bottom-right-input{
    width: 40vw;
  }


}


@media screen and (max-width:500px) {
  .spcaio-tech-left-cont{
    height: 50vw;
    width: 80vw;
  }
  .content-of-spacio-tech-cont{
    width: 90vw;
    margin-top: 40px;
  }
}




*{
  box-sizing: border-box;
  font-family: "Arial", "Helvetica", "Sans-serif";
}